<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome to the text analyzer. Enter the text below... </h1>
<form action="/analyze" method='get'>
    <textarea style='margin:0px; width:721px; height:93px'  name="text" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="checkbox" name="removepunc" >Remove Punctuations <br>
    <input type="checkbox" name="fullcaps">Upper Case <br>
    <input type="checkbox" name="newlineremover">New Line Remover <br>
    <input type="checkbox" name="extraspaceremover">Extra spaces Remover <br>
    <button type="submit" >Analyze Text</button>
</form>

</body>
</html>